ut_webui_port: {{ ut_webui_port }}

#token_auth_enable: false
#webui.token_auth: false
bind_port: {{ ut_bind_port }}
#preferred_interface: eth0


ut_webui_dir: {{ ut_folders.root }}

dir_root:           {{ ut_folders.root }}
dir_active:         {{ ut_folders.active }}
dir_completed:      {{ ut_folders.completed }}
dir_download:       {{ ut_folders.download }}
dir_torrent_files:  {{ ut_folders.torrent_files }}
dir_temp_files:     {{ ut_folders.temp_files }}
dir_autoload:       {{ ut_folders.autoload }}
